@import url(./__item/photo-grid__item.css);

.photo-grid {
  margin: 0 auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  max-width: 92.5%;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    grid-gap: 14px;
  }
}

@media screen and (max-width: 640px) {
  .photo-grid {
    grid-gap: 12px;
  }
}